body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    overflow: hidden;
    height: 100%;
    background-color: #25282d;
    /* background-image: linear-gradient(
        135.8deg,
        rgba(26, 26, 29, 1) 27.1%,
        rgb(37, 12, 17) 77.5%
    ); */
    /* background-color: rgba(32, 33, 36, 1); */
}

/*-------------------- Welcome page---------------- */

/* welcome page containers */
.main-page-main-container,
.inner-form-container,
.inner-form-container-right,
.inner-form-container-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-page-main-container {
    width: 100vw;
    height: 100vh;
}

.inner-form-container {
    width: 95vw;
    height: 90vh;
    background-color: white;
    display: flex;
    border-radius: 40px;
}

.inner-form-container-right {
    width: 50%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.inner-form-container-left {
    width: 50%;
    overflow: hidden;
    background-color: white;
}

/* welcome page text styligns */
.main-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: silver;
}

.mainimg {
    position: relative;
    top: 5%;
    image-rendering: auto;
    overflow: hidden;
}

/* Welcome page form stylins & containers */
.form-container,
.form-box,
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-box,
.form-content {
    width: 500px;
}

.form-box {
    margin-top: 20px;
}

.form-content {
    width: 400px;
}

input {
    display: block;
    border: none;
    color: silver;
    background: transparent;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    height: 25px;
    width: 200px;
    z-index: 10;
    outline: none;
    background: transparent;
}

input::placeholder {
    color: silver;
}

.register-button {
    display: inline-block;
    padding: 10px 40px;
    margin: 40px 4px 4px 0;
    text-decoration: none;
    background-color: #181a1d;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    color: silver;
    background: transparent;
}

/* Main page seperations */
.navbar-divider {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: inline-flex;
}

.main-profile {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* margin: 20px; */
}

/* ------------------Navr Bar stylings --------------------- */

/* Nav bar styling on /home route */
.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

/* navbar */
.sidenav-container {
    height: 100%;
    width: 20vw;
    background-color: #181a1d;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 2; */
    overflow: hidden;
}

.sidenav-positioning {
    height: 100vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navbar-image {
    width: 50%;
}

.navbar-links-on-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 100px;
    margin-right: 20px;
    flex-wrap: wrap;
}
.navbar-image {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.login-button-navbar,
.register-button-navbar,
.login-button-navbar-register,
.upload-button-navbar,
.delete-button {
    display: inline-block;
    padding: 10px;
    border: none;
    margin: 10px 5px 4px 0;
    text-decoration: none;
    color: silver;
    text-align: center;
    background-color: none;
    border: 1px solid silver;
    border-radius: 5px;
}

.delete-button {
    background-color: crimson;
    position: absolute;
    top: 5px;
    right: 15px;
}

.login-button-navbar-register {
    margin-right: 10px;
    margin-left: 10px;
}

.login-button-navbar-register:hover,
.login-button-navbar:hover,
.register-button:hover {
    background-color: silver;
    color: #181a1d;
}

.navbar-links-on-register {
    width: 100%;
}

.navbar-links {
    width: 100px;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: silver;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 50px;
    display: flex;
    overflow: hidden;
}

/* --------------------- Profile Picture --------------------------- */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
}

.profile-pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
}

.navbar-name {
    display: block;
    color: silver;
    width: 100%;
    height: 20vh;
    height: 100px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* --------------------------- UPload modal stylings  --------------------------- */
.upload-container {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px) grayscale(1);
}

.upload-button {
    color: silver;
}

.upload-modal-housing {
    height: 40%;
    width: 40%;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #181a1d;
}

.upload-modal-cover {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 20px 30px;
    border-radius: 5px;
    color: silver;
}

.upload-form,
.comments-form {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    color: silver;
}

/* --------------------------- UPload button stylings ---------------------------  */

.choose-file-button:focus,
.upload-button:focus,
.finished-button:focus {
    outline: none;
}

.upload-button,
.choose-file-button,
.finished-button {
    border: none;
    width: 250px;
    font-size: 20px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    background: none;
}
#files {
    visibility: hidden;
    width: 0.1px;
}

/* ------------------- user search --------------------- */
.main-search-container {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-container {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-user-search {
    height: 100%;
    max-height: 490px;
    min-height: 490px;
    margin-left: 50px;
    display: block;
    table-layout: fixed;
    overflow: auto;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friends-input-heading-container {
    width: 100%;
    height: 25%;
    display: block;
}

.find-friends-heading,
.coin-heading {
    text-align: center;
    color: silver;
}

.user-searchbar {
    background-color: transparent;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;

    display: block;
    color: silver;
}

.user-search {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.search-user-img {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}

.search-user-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: silver;
    cursor: pointer;
}

/* ------------------------- Chat message Stylings & comment stylings---------------------------------- */

.full-chat-container,
.full-comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.chat-message-container {
    border: 1px solid rgb(142, 141, 141);
    background-color: rgb(142, 141, 141);
    border-radius: 40px;
    height: 700px;
    width: 700px;
    overflow: auto;
}

.comment-container {
    height: 350px;
    width: 500px;
    overflow-y: auto;
}
.comment-container {
    margin-top: 10px;
    text-align: center;
    border: 1px solid #181a1d;
}

.comment-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-line {
    margin-top: 20px;
    margin-left: 10px;
    height: auto;
    max-width: 500px;
    display: flex;
    flex-direction: row;
}

.chat-text {
    width: fit-content;
    min-width: 500px;
    margin-left: 20px;
    padding-left: 20px;
    border-radius: 16px;
    background-image: linear-gradient(
        to right,
        #232526 0%,
        #414345 51%,
        #232526 100%
    );
    color: silver;
    display: block;
    display: flex;
    align-items: center;
    overflow: auto;
}

.chat-name {
    color: black;
    display: block;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 75px;
}
.chat-img {
    border-radius: 50%;
    margin-left: 10px;
}

.chat-heading {
    color: silver;
}

.comment-box {
    height: 80px;
    width: 350px;
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
    margin: 2px;
    border-radius: 10px;
}

.comment-text {
    color: #181a1d;
}

.chat-img,
.comment-img,
.comment-text,
.comment-name {
    height: 50px;
    width: 50px;
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment-img {
    margin-right: 5px;
    border-radius: 50%;
}
.comment-name {
    margin-left: 10px;
    height: 50px;
    width: 75px;
    padding-right: 10px;
    color: silver;
}

.comment-text {
    height: 50px;
    width: 200px;
    padding-left: 5px;
    border-radius: 10px;
    background-color: silver;
}

/* Profile Cards on Profile Page and BIO  & other Profile */

.profile-card,
.user-profile-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 40px rgba(#000000, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile,
.user-profile {
    width: 400px;
    height: 500px;
    position: relative;
    background-color: rgb(142, 141, 141);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border-radius: 50px;
    padding-top: 30px;
    filter: drop-shadow(0 0 0.25rem silver);
    z-index: 0;
}

.profile-card-img,
.user-profile-card-img {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.profile-card-name,
.user-profile-card-name {
    color: #181a1d;
    font-size: 24px;
    text-align: center;
}

.profile-card-description-container,
.user-profile-card-description-container {
    width: 400px;
    display: flex;
    justify-content: center;
}

.profile-card-description,
.user-profile-card-description {
    color: #181a1d;
    font-size: 14px;
    text-align: center;
    width: 200px;
}

.user-profile-card-name {
    width: 100%;
    display: flex;
    justify-content: center;
}

.save-button,
.post-button,
.add-friend-button {
    border-radius: 16px;
    display: block;
    background-color: #181a1d;
    color: silver;
    height: 30px;
    width: 100px;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 5px 0px 5px 38%;
}

.post-button {
    margin: auto;
    margin-top: 10px;
}

.add-friend-button {
    margin-top: 50px;
    padding: 20px;
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(142, 141, 141);
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

/* News stylings */
.news-header {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    color: silver;
}

.news-container {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    overflow: auto;
    filter: drop-shadow(0 0 0.25rem silver);
}

.news-box {
    display: block;
    width: 200px;
    height: 430px;
    background-color: #181a1d;
    margin: 50px;
    border-radius: 10px;
}

.news-description,
.news-button,
.news-date {
    display: block;
    margin: auto;
    text-align: center;
    margin: 10px;
    color: silver;
}

.news-button {
    margin: auto;
}

.news-img {
    height: 150px;
    width: 150px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-a-tag {
    text-decoration: none;
}

/* animation on all buttons */
button {
    background-image: linear-gradient(
        to right,
        #aa076b 0%,
        #61045f 51%,
        #aa076b 100%
    );
}
button {
    transition: 0.5s;
    background-size: 200% auto;
}

button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* friend request page */
.request-heading-friends,
.request-heading-requests {
    color: silver;
}

.request-heading-friends {
    position: absolute;
    top: 0;
    left: 20px;
}
.request-heading-requests {
    position: absolute;
    top: 45%;
    left: 20px;
}

.main-friends-container {
    max-width: 800px;
    height: 300px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}
.main-request-container {
    margin-top: 50px;
    height: 300px;
    max-width: 800px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.inner-request-scroll {
    overflow: auto;
    width: 800px;
    display: inline;
}

.friend-request-container {
    background-color: rgb(142, 141, 141);
    filter: drop-shadow(0 0 0.25rem silver);
    width: 150px;
    height: 250px;
    border-radius: 40px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin: 30px 30px;
}
.friend-request-img {
    border-radius: 50%;
    width: 100px;
    height: 90px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.friend-request-name,
.requset-button {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}
.friend-request-name {
    color: black;
    margin-bottom: 5px;
}

.request-button {
    color: silver;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100px;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 5px;
    padding-top: 6px;
}

/* Dashboard styligns -charts and graphs */

.graph-container {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 10px;
}

/* .tech-analysis {
    position: absolute;
    top: 35%;
    left: 75%;
    z-index: 100;
} */

.tradingview-widget-container__widget {
    height: 600px;
    width: 600px;
    position: absolute;
    left: 50%;
}

/* coin page */
.coin-container {
    width: 800px;
    height: 800px;
    background-color: white;
}
