body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    overflow: hidden;
    height: 100%;
    background-color: #edede9;
    /* background-image: linear-gradient(
        135.8deg,
        rgba(26, 26, 29, 1) 27.1%,
        rgb(37, 12, 17) 77.5%
    ); */
    /* background-color: rgba(32, 33, 36, 1); */
}

/*-------------------- Welcome page---------------- */

/* welcome page containers */
.main-page-main-container,
.inner-form-container,
.inner-form-container-right,
.inner-form-container-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-page-main-container {
    width: 100vw;
    height: 100vh;
}

.inner-form-container {
    width: 95vw;
    height: 90vh;
    background-color: white;
    display: flex;
    border-radius: 40px;
}

.inner-form-container-right {
    width: 50%;
    height: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.inner-form-container-left {
    width: 50%;
    overflow: hidden;
}

/* welcome page text styligns */
.main-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
}

.mainimg {
    position: relative;
    top: 5%;
    image-rendering: auto;
    overflow: hidden;
}

/* Welcome page form stylins & containers */
.form-container,
.form-box,
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-box,
.form-content {
    width: 500px;
}

.form-box {
    margin-top: 20px;
}

.form-content {
    width: 400px;
}

input {
    display: block;
    border: none;
    color: white;
    background: transparent;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    height: 25px;
    width: 200px;
    z-index: 10;
    outline: none;
    background: transparent;
}

input::placeholder {
    color: white;
}

.register-button {
    display: inline-block;
    padding: 10px 40px;
    margin: 40px 4px 4px 0;
    text-decoration: none;
    background-color: black;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: transparent;
}

/* Main page seperations */
.navbar-divider {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    display: inline-flex;
}

.main-profile {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
}

/* ------------------Navr Bar stylings --------------------- */

/* Nav bar styling on /home route */
.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

/* navbar */
.sidenav-container {
    height: 100%;
    width: 20vw;
    background-color: #423e3b;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidenav-positioning {
    height: 100vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navbar-image {
    width: 50%;
}

.navbar-links-on-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 100px;
    margin-right: 20px;
    flex-wrap: wrap;
}
.navbar-image {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.login-button-navbar,
.register-button-navbar,
.login-button-navbar-register,
.upload-button-navbar,
.add-friend-button,
.post-button,
.delete-button {
    display: inline-block;
    padding: 10px;
    border: none;
    margin: 10px 5px 4px 0;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: none;
    border: 1px solid white;
    border-radius: 5px;
}

.login-button-navbar-register {
    margin-right: 10px;
    margin-left: 10px;
}

.login-button-navbar-register:hover,
.login-button-navbar:hover,
.register-button:hover {
    background-color: white;
    color: black;
}

.add-friend-button {
    display: block;
    margin-left: 55px;
}

.navbar-links-on-register {
    width: 100%;
}

.navbar-links {
    width: 200px;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 50px;
    display: flex;
    overflow: hidden;
}

/* --------------------- Profile Picture --------------------------- */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
}

.profile-pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
}

.navbar-name {
    display: block;
    color: white;
    width: 100%;
    height: 20vh;
    height: 100px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* --------------------------- UPload modal stylings  --------------------------- */
.upload-container {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px) grayscale(1);
}

.upload-button {
    color: white;
}

.upload-modal-housing {
    height: 40%;
    width: 40%;
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #423e3b;
}

.upload-modal-cover {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
}

.upload-form,
.comments-form {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    color: white;
}

/* --------------------------- UPload button stylings ---------------------------  */

.choose-file-button:focus,
.upload-button:focus,
.finished-button:focus {
    outline: none;
}

.upload-button,
.choose-file-button,
.finished-button {
    border: none;
    width: 250px;
    font-size: 20px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    background: none;
}
#files {
    visibility: hidden;
    width: 0.1px;
}

/* ------------------USER Profile Information ------------------ */

.main-profile-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-card-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
}

.userprofile-information-container {
    margin-top: 30px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* display: inline-block; */
    vertical-align: top;
    overflow-wrap: break-word;

    text-align: left;
}

.main-profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.user-info-profile {
    margin: 10px;
}
/* ------------------- user search --------------------- */
.main-search-container {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-container {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-user-search {
    height: 100%;
    max-height: 490px;
    min-height: 490px;
    margin-left: 50px;
    display: block;
    table-layout: fixed;
    overflow: auto;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friends-input-heading-container {
    width: 100%;
    height: 25%;
    display: block;
}

.find-friends-heading {
    text-align: center;
}

.user-searchbar {
    background-color: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 10px;

    display: block;
    color: black;
}

.user-search {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-card {
    display: flex;
    flex-direction: column;

    filter: drop-shadow(0 0 0.25rem #423e3b);
    margin: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.search-user-img {
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}

.search-user-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
}

/* ------------------------- Chat message Stylings & comment stylings---------------------------------- */

.full-chat-container,
.full-comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-message-container,
.comment-container {
    height: 350px;
    width: 500px;
    overflow-y: auto;
}
.comment-container {
    margin-top: 10px;
    text-align: center;
}

.comment-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-line {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(231, 228, 228);
    display: flex;
    flex-direction: row;
}

.comment-box {
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: row;
    background-color: #25a79a;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 10px;
}

.comment-text {
    color: white;
}

.chat-img {
    border-radius: 3px;
}

.chat-img,
.chat-text,
.comment-text {
    height: 50px;
    width: 50px;
    display: inline;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.chat-text {
    width: 150px;
}

/* Profile Card on Profile Page and BIO  */

.profile-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 40px rgba(#000000, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile {
    width: 400px;
    height: 500px;
    position: relative;
    background-color: #dadad2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border-radius: 50px;
    padding-top: 30px;
    filter: drop-shadow(0 0 0.25rem #423e3b);
    z-index: 0;
}

.profile-card-img {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.profile-card-name {
    color: black;
    font-size: 24px;
    text-align: center;
}

.profile-card-description-container {
    width: 400px;
    display: flex;
    justify-content: center;
}

.profile-card-description {
    color: black;
    font-size: 14px;
    text-align: center;
    width: 200px;
}

.save-button {
    display: block;
    background-color: #423e3b;
    color: white;
    height: 30px;
    width: 100px;
    text-decoration: none;
    outline: none;
    border: none;
    margin: 5px 0px 5px 38%;
}
textarea {
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #dadad2;
    margin-left: 11%;
}

/* Find Stylings */
