/* coin page */
.coin-container {
    width: 1000px;
    height: 700px;
    background-color: #25282d;
    overflow-y: auto;
}

.coin-bar-heading {
    position: fixed;
    height: 50px;
    background-color: #25282d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    color: white;
}

.coin-heading-colums {
    width: 90px;
    margin-left: 10px;

    padding-left: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.rank-heading {
    margin-left: 11px;
}

.name-heading {
    padding-left: 40px;
    width: 40px;
}

.price-heading {
    padding-left: 70px;
    width: 60px;
}
.sevenday-heading {
    padding-left: 72.5px;
    width: 40px;
}

.day-heading {
    padding-left: 65px;
    width: 40px;
}

.mc-heading {
    padding-left: 90px;
}

.vol-heading {
    padding-left: 25px;
}

.supply-heading {
    margin-right: 22px;
    margin-left: 22px;
    width: 112px;
}

.individual-coin {
    margin: 20px 10px;
    padding-left: 15px;
    font-size: 14px;
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.coin-line {
    text-align: justify;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.coin-line:hover {
    background-color: rgba(245, 245, 245, 1);
    color: black;
}

.coin-list-position {
    margin-top: 50px;
}

.name,
.rank,
.price,
.day,
.mc,
.vol,
.sevenday,
.supply {
    width: 90px;
}

.rank,
.rank-heading {
    width: 20px;
}

.name {
    text-align: left;
    color: #2a9df4;
}

.green {
    color: green;
}
.red {
    color: red;
}

.minus {
    color: red;
}

.name,
.price,
.supply {
    padding-left: 20px;
}
.supply {
    padding-left: 40px;
}

.mc,
.vol {
    padding-left: 25px;
}
