/* --------------------------- UPload modal stylings  --------------------------- */
.upload-container {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px) grayscale(1);
}

.upload-button {
    color: #fdfeff;
}

.upload-modal-housing {
    height: 40%;
    width: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #181a1d;
}

.upload-modal-cover {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.upload-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 20px 30px;
    border-radius: 5px;
    color: #fdfeff;
}

.upload-form,
.comments-form {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    color: #fdfeff;
}

/* --------------------------- UPload button stylings ---------------------------  */

.choose-file-button:focus,
.upload-button:focus,
.finished-button:focus {
    outline: none;
}

.upload-button,
.choose-file-button,
.finished-button {
    border: none;
    width: 250px;
    font-size: 20px;
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    background: none;
}
#files {
    visibility: hidden;
}
